@font-face {
  font-family: "steelfish";
  src: url("font/steelfish rg.ttf"); }
@font-face {
  font-family: "anabelle";
  src: url("font/Anabelle Script Light.ttf"); }
@font-face {
  font-family: "anabelle_bold";
  src: url("font/Anabelle Script.ttf"); }

$wine: #800000;
$menuShadows: #aaa;

